node_modules/
.next/
dist/
.turbo/
.env
*.env.local
*.env.production
coverage/
.DS_Store
*.log
.nx/
tmp/
dist/
build/
.cache/
.eslintcache
.stylelintcache
.vercel/
libs/db/src/generated-client/
package-lock.json
temp_auto_push.bat
temp_interactive_push.bat
